// Viewport sizes
$mobile: 375px;
$desktop: 1440px;

// Colours
$primary: hsl(209, 23%, 22%); // (Dark Mode Elements)
$secondary: hsl(207, 26%, 17%); // (Dark Mode Elements)
$danger: hsl(200, 15%, 8%); // (Light Mode Text)
$success: hsl(0, 0%, 52%); // (Light Mode Input)
$bg-light: hsl(0, 0%, 98%); // (Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

// Font sizes

$home-items: 14px;
$detail-pg: 16px;